Dependencies/node_modulesBuild output/distLogsnpm-debug.log*yarn-debug.log*yarn-error.log*pnpm-debug.log*IDE / Editor specific.idea.vscode/*.suo.ntvs*.njsproj*.sln*.sw?Environment variables.env.env.local.env.*.localCloudflare.wrangler/
node_modules
